*{
    padding:0;
    margin:0;
    box-sizing:border-box;
}
.profile{
    display: flex;
    max-width: 96%;
    gap: 1.5rem;
    margin:0 auto;
}

.profileRight{
    flex: 9;
    margin-right: 0.5rem;
}
 
.profileCover{
    height: 13rem;
    position: relative;
    margin-bottom: 15px;    
}

.coverContainer{
   
    display: absolute;
    height: 0;
}


.profileCoverImg{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
   
}

.coverCamera {
    width: 30px;
    height: 30px;
    position: absolute;
    top: 175px;
    right: 0.5%;
    cursor: pointer;
    object-fit: contain;

}
.forCamera {
    position: relative;
    width: 100px;
    margin: 0 auto;

}
.coverContainer{
    position: relative;
  
}

.uploadPic2{
    position: absolute;
    right: 50px;
    bottom: -250px;
    display: block;
    padding: 3px 10px;
    background-color: green;
    color: white;
    font-weight: 500;
    border: none;
    font-size: 16px;
    border-radius: 8px;
    cursor: pointer;
}

.uploadPic{
    margin-top: 30px;
    margin-left: 150px;
    padding: 3px 10px;
    background-color: green;
    color: white;
    font-weight: 500;
    border: none;
    font-size: 16px;
    border-radius: 8px;
    cursor: pointer;
}

.profileCamera {
    width: 30px;
    height: 30px;
    position: absolute;
    top: 15px;
    left: 60%;
    object-fit: contain;
    cursor: pointer;

}
.profileUserImg{
    width: 150px;
    height: 150px;
    border-radius: 50%;
    position:absolute;
    left: 0;
    right: 0;
    margin: auto;
    top: -100px;
    border: 4px solid rgb(30, 31, 41);
    object-fit: cover;
}
.profileInfo{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.profileInfoName{
    font-size: 2rem;
    text-transform: capitalize;
    text-align: right;
    width: 175px;
    letter-spacing: 1.2px;
    margin-top: 39px;
    margin-bottom: 5px;
    color:white;
    
}

.profileInfoDesc{
    font-weight: 300;
    margin-bottom: 10px;
}
.profileRightBottom{
    display:flex;
    gap: 1.5rem;
}

